#!/bin/bash
#
# tomcat
#
# chkconfig: 345 84 15
# description:  Start up the Tomcat servlet engine.
# config: /etc/sysconfig/tomcat7
# processname: tomcat7
# pidfile: /var/run/tomcat.pid

# Source function library.
. /etc/init.d/functions

# Loading the configuration parameters.
if [ -f /etc/sysconfig/tomcat ]; then
  . /etc/sysconfig/tomcat
fi

RETVAL=0

case "$1" in
  start)
    if [ -f $CATALINA_HOME/bin/startup.sh ]; then
      logger -s "Starting Tomcat"
      /bin/su -l $TOMCAT_USER -c $CATALINA_HOME/bin/startup.sh
      RETVAL=$?
      [ $RETVAL = 0 ] && touch /var/lock/subsys/tomcat
    fi
    ;;
  stop)
    if [ -f $CATALINA_HOME/bin/shutdown.sh ]; then
      logger -s "Stopping Tomcat"
      /bin/su -l $TOMCAT_USER -c $CATALINA_HOME/bin/shutdown.sh
      RETVAL=$?
      [ $RETVAL = 0 ] && rm -f /var/lock/subsys/tomcat
    fi
    ;;
  restart)
     $0 stop
     $0 start
     ;;
  status)
    pgrep -f "java.*catalina.startup.Bootstrap"
    RETVAL=$?
    [ $RETVAL = 0 ] && echo "Tomcat running"
    ;;
  version)
    if [ -f $CATALINA_HOME/bin/version.sh ]; then
      /bin/su -l $TOMCAT_USER -c $CATALINA_HOME/bin/version.sh
      RETVAL=$?
    fi
    ;;
  *)
    echo $"Usage: $0 {start|stop|restart|status|version}"
    exit 1
    ;;
esac

exit $RETVAL
